<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cocu.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cocu.entity.User">
        <id column="id" property="id" />
        <result column="email" property="email" />
        <result column="username" property="username" />
        <result column="mobile" property="mobile" />
        <result column="avatar" property="avatar" />
        <result column="password" property="password" />
        <result column="salt" property="salt" />
        <result column="role_id" property="roleId" />
        <result column="create_date" property="createDate" />
        <result column="update_date" property="updateDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, email, username, mobile, avatar, password, salt, role_id, create_date, update_date
    </sql>

</mapper>
